@use "../tools/mixins";

/*-------------------------------------------------------
Section "Information" (style 2)
-------------------------------------------------------*/

.section--information-2 {

	.section__content {
		row-gap: var(--wp--preset--spacing--40);

		@include mixins.media("break-medium", max) {
			grid-template-columns: 1fr;
			padding-bottom: var(--wp--preset--spacing--40) !important;
		}
	}

	.block {

		&--text-left {

			@include mixins.media("break-medium", max) {
				grid-column: span 1;
			}

			@include mixins.media("break-medium") {
				grid-column: span 2;
			}

			@include mixins.media("break-medium", max) {
				padding-right: 0 !important;
			}

			> * {
				max-width: 100%;
			}
		}
	}
}
